<div class="container">

  <%= form_with(model: client, local: true) do |form| %>
    <% if client.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(client.errors.count, "error") %> prohibited this client from being saved:</h2>

        <ul>
        <% client.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label "Nome:" %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label "Estado" %>
      <%= form.select(:state, options_for_select(["AC","AL","AP","AM","BA","CE","DF","ES","GO","MA","MT","MS","MG","PA","PB","PR","PE","PI","RJ","RN","RS","RO","RR","SC","SP","SE","TO"]), {include_blank: '--'}) %>
    </div>

    <div class="actions">
      <%= form.submit "Enviar" %>
    </div>
  <% end %>
</div>
