<div class="container">
  <p id="notice"><%= notice %></p>

  <h3>Cliente:</h3>

  <p>
    <strong>Nome:</strong>
    <%= @client.name %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= (@client.state).upcase %>
  </p>

  <br>

  <h3>Verificamos e encontramos o profissional ideal para o seu caso:</h3>

    <!-- Se não houver advogados disponiveis -->
  <% if @IdealLawyer == 0 %>
    <h4>Desculpe, não possuímos nenhum advogado cadastrado no seu estado.</h4>
    <%= "\n\n" %>
  <% else %>
    <!-- Pega o advogado que foi selecionado no controller -->
    <li><%= @IdealLawyer.name %></li>
    </li>
    
  <% end %>

  <br>

  <%= link_to 'Editar', edit_client_path(@client) %> |
  <%= link_to 'Voltar', clients_path %>
</div>
